{{ define "main" }}

<section class="section -boxed">
  <div class="box -bg-primary">
    <div class="content -align-center -align-end-desk">
      <h1 class="title -large">Blog sobre Lorem Ipsum</h1>
    </div>
    <div class="content -align-center -align-start-desk">
      <p>Escrevo artigos sobre Lorem Ipsum</p>
    </div>
  </div>
</section>


<section class="section blog" id="feed">
    <div class="container">
  
      <div class="row">

        {{ range where .Site.Pages "Type" "post" }}
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card">
              <div class="image-box">
                <img src="{{ .Params.image | safeHTML }}" alt="{{.Title}}" style="width: 100%;">
              </div>
              <h1>{{ .Title }}</h1>
              <p>{{ .Description }}</p>
              <a href="{{.Permalink}}">Saiba mais</a>
            </div>
          </div>
        {{ end }}  

      </div>
  
    </div>
  </section>

{{ end }}


