{{ define "main" }}

<article class="single-post">

  <header class="hero" style="background-image: url( {{ .Params.image | safeHTML }} );">
    <div class="section">
      <div class="container">
        <div class="content -small-gap -align-center">
          <h1 class="headline">{{ .Title }}</h1>
          <div class="post-infos">
            <p class="post-infos__date">{{ partial "date" .PublishDate }}</p>
            <span class="post-infos__divider">|</span>
            <p class="post-infos__category">
              {{ range .Params.Categories }}
              Em {{ . | title | humanize }}
              {{ end }}
            </p>
            <span class="post-infos__divider">|</span>
            <p class="post-infos__author">Por <a href="#">Rafael</a></p>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="section" id="content">
    <div class="container -small">
      <div class="post-layout">
        <div class="post-content">
          <div class="content -justify">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{{ end }}